[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=expense-manager
GenericName=An application to manage your expenses
Comment=An application to manage your expenses
Icon=expense-manager
TryExec=expense-manager
Exec=expense-manager
Terminal=false
Categories=Office;